<%- include('include/header'); %>
      <form id="name-form">
        <input type="text" id="name" placeholder="Entrez votre nom">
        <input type="submit" value="Valider">
      </form>
    </div>
<%- include('include/footer', {js: '/name.js'}); %>

