    <footer> 
        <p>Copyright© 2023 - <%- new Date().getFullYear() %> - Therry</p>
    </footer>
    </body>
    <% if (typeof js != 'undefined') { %>
      <script src="<%= js %>"></script>
    <% } %>
</html>