<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (typeof title != 'undefined') { %>
      <title><%= title %></title>
    <% } else { %>
    <title>Morpion</title>
    <% } %>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">
  </head>
  <body>
    <header>
    <% if (typeof title != 'undefined') { %>
      <h1><%= title %></h1>
    <% } else { %>
      <h1>Morpion</h1>
    <% } %>
    <a href="/issue">Un bug ? Une amelioration ? Faite le moi savoir en cliquant ici 😊</a>
    </br>
    </br>
    <a href="/">Retourner a l'accueil</a>
    </header>